header{
    display: flex;
    justify-content: space-between;
}

.header-list{
    
}

.header-list{
   
}

.header-button{


}

.slider{
    
    
    

}

.slider-image{

}

.slider-image{

}

.slider-title{
    
    
   
}

.slider-subtitle{
   

}
.slider-button{

}

.feactured{

    
    
}

.feactured-title{

}

.feactured-subtitle{

}

.feactured-elements{

}

.feactured-element{

}

.feactured-element-image{
  
    display: flex;
    
}

.feactured-element-title{

}

.feactured-element-description{

}

.details{

}

.details-elements{

}

.detail-element{

}

.detail-element-icon{

}

.detail-element-info{

}

.detail-element-info-title{

}

.detail-element-info-description{

}

.team-elements{

}

.team-element{

}

.team-element-social-networks{

}

.team-element-image{

}

.team-element-title{

}

.team-element-description{

}

.contact{

}

.contact-elements{

}

.contact-element-map{

}

.contact-element-data{

}

.contact-elements-title{

}

.contact-element-icon{

}

.contact-element-button{

}

footer{

}

.footer-web{

}

.footer-sites-web{

}

.footer-icon{

}





