header{
    display: flex;
    justify-content: space-between;
    
}

.header-logo{

}

.header-logo svg{
 
    
}

.header-list{
    
}

.header-list ul{
    display: flex;
    list-style: none;
}

.header-list ul li{

}

.header-button{
     
}

.header-button button{
margin-block-start: 10%;
     
}



.slider{
   
    
    
}


.slider-image{
  
}
img{
    width:80%;
    height:10vh;
    margin: 20px;
    
    
}
   

.slider-title{
    
    
 }  
 .slider-title h2{
    
 }


.slider-subtitle{
   

}
.slider-button{

}

.featured{
    
    
    
}

.featured-title{

}

.featured-subtitle{

}

.featured-elements{
    display: flex;
    justify-content: space-between;
}

.featured-element{
}
   

.featured-element-image{
  
    
    
}

.featured-element-title{

}

.featured-element-description{

}

.details{
    display: flex;
}

.details-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-element{
}

.detail-element-icon{

}

.detail-element-info{

}

.detail-element-info-title{

}

.detail-element-info-description{

}

.team-elements{
    display: flex;
    justify-content: space-between;
}

.team-element{
}

.team-element-social-networks{
     
}

.team-element-image{

}

.team-element-title{

}

.team-element-description{

}

.contact{
    
}

.contact-elements{

}

.contact-element-map{

}

.contact-element-data{

}

.contact-elements-title{

}

.contact-element-info{
    display: flex;
}

.contact-element-icon{

}

.contact-element-text{

}

.contact-element-button{

}

footer{
   
}

.footer-web{

}

.footer-sites-web{

}

.footer-icon{
    display: flex;
}





